<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.parking.dao.mapper.BlacklistSettingsMapper">

    <resultMap id="blacklistSettingsMap" type="com.cf.parking.dao.po.BlacklistSettingsPO">
        <result column="blacklist_settings_id" property="blacklistSettingsId"/>
        <result column="create_tm" property="createTm"/>
        <result column="cumulative_number" property="cumulativeNumber"/>
        <result column="no_record_in_time" property="noRecordInTime"/>
        <result column="update_tm" property="updateTm"/>
    </resultMap>
</mapper>

