<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.parking.dao.mapper.LotteryRuleRoundMapper">
    
    <resultMap type="com.cf.parking.dao.po.LotteryRuleRoundPO" id="LotteryRuleRoundResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parkingLotCode"    column="parking_lot_code"    />
        <result property="state"    column="state"    />
        <result property="remark"    column="remark"    />
        <result property="createTm"    column="create_tm"    />
        <result property="updateTm"    column="update_tm"    />
    </resultMap>

    <sql id="selectLotteryRuleRoundVo">
        select id, name, parking_lot_code, state, remark, create_tm, update_tm from lottery_rule_round
    </sql>

    <select id="selectBaseList" resultMap="LotteryRuleRoundResult">
        select id,name from lottery_rule_round
    </select>
</mapper>