<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.parking.dao.mapper.ParkingLotMapper">
    
    <resultMap type="com.cf.parking.dao.po.ParkingLotPO" id="ParkingLotResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="region"    column="region"    />
        <result property="regionCode"    column="region_code"    />
        <result property="amount"    column="amount"    />
        <result property="type"    column="type"    />
        <result property="createTm"    column="create_tm"    />
        <result property="updateTm"    column="update_tm"    />
        <result property="remark"    column="remark"    />
        <result property="imageInfo"    column="image_info"    />
    </resultMap>

    <sql id="selectParkingLotVo">
        select id, parent_id,region, region_code, amount, type, create_tm, update_tm ,remark,image_info from parking_lot
    </sql>

    <!--  根据id查询包含图片信息的停车场对象信息  -->
    <select id="selectParkingLotPOWithImageInfoById" resultMap="ParkingLotResult">
        <include refid="selectParkingLotVo" />
        where id = #{id}
    </select>

	<select id="getAllParkingLot" resultMap="ParkingLotResult" >
		 <include refid="selectParkingLotVo" />
		where parent_id != 0
	</select>

    <insert id="insertWithImageInfo" parameterType="com.cf.parking.dao.po.ParkingLotPO">
        insert into parking_lot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="regionCode != null">
                region_code,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createTm != null">
                create_tm,
            </if>
            <if test="updateTm != null">
                update_tm,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="imageInfo != null">
                image_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="region != null">
                #{region},
            </if>
            <if test="regionCode != null">
                #{regionCode},
            </if>
            <if test="amount != null">
                #{amount},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="createTm != null">
                #{createTm},
            </if>
            <if test="updateTm != null">
                #{updateTm},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="imageInfo != null">
                #{imageInfo},
            </if>
        </trim>
    </insert>

    <update id="updateWithImageInfo" parameterType="com.cf.parking.dao.po.ParkingLotPO">
        update parking_lot
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="region != null">
                region = #{region},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="createTm != null">
                create_tm = #{createTm},
            </if>
            <if test="updateTm != null">
                update_tm = #{updateTm},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="imageInfo != null">
                image_info = #{imageInfo},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>