<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.parking.dao.mapper.WhiteListMapper">

    <resultMap id="whiteListMap" type="com.cf.parking.dao.po.WhiteListPO">
        <result column="create_tm" property="createTm"/>
        <result column="is_delete" property="isDelete"/>
        <result column="plate_no" property="plateNo"/>
        <result column="update_tm" property="updateTm"/>
        <result column="white_list_id" property="whiteListId"/>
    </resultMap>

    <sql id="Base_Column_List">
        plate_no
    </sql>
    <insert id="replaceWhiteList" parameterType="java.util.List">
        replace into white_list
        (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.plateNo} )
        </foreach>
    </insert>
</mapper>

